.card {
  background-image: linear-gradient(
    to left bottom,
    #00a651,
    #3baf4c,
    #5ab748,
    #74bf43,
    #8dc63f
  );
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.5); 
  }
  .card h2{
    color: #fff;
    
  }

.rounded-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #00571E;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card-content {
    text-align: center;
    padding: 1rem;
  }
.graphic{
  width: 800px;
  height: 400px;
  margin-left: 0;
}