<!-- base_perfil.html -->

{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'partials/head.html' %}

    <title>{% block 'title' %}{% endblock 'title' %} | ONGNautas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'geral/css/base_perfil.css' %}">
    <link rel="stylesheet" href="{% block 'css' %}{% endblock 'css' %}" />
    <link rel="stylesheet" href="{% block 'css1' %}{% endblock 'css1' %}" />
    
  </head>
  <body>
    
    {% include 'partials/header-perfil.html' %} 
    

    <main class="main-content-container-perfil"style="margin-top: 100px;">
      {% block 'body' %}
      
      
      {% endblock 'body' %}
    </main>

    <!-- ======= Footer ======= -->
    {% block 'scripts' %}{% endblock 'scripts' %}
    <!-- Importe o jQuery e o Bootstrap JS via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
