{% extends "base/base_perfil.html" %}

{% load static %}

{% block 'title'%}Perfil{% endblock 'title' %}

{% block 'css' %} 
{% static 'perfil/css/index.css'%} 
{% endblock 'css' %}

{% block 'scripts' %}
<script src="{% static 'perfil/js/scripts.js' %}"></script>
{% endblock %} 

{% block 'body' %}

<section class="vh-100">
  <div class="container-xl py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- coluna do perfil de usuário com as opções que ao serem clicadas serão renderizadas no meio do index.html -->
      <div class="col-md-12 mx-6">
        <div class="card mb-3 bg-transparent" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="aside-user col-md-4 gradient-custom text-center"
              style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;"
            >
            <div class="text-center mt-4">
              <button class="btn btn-primary" onclick="window.location.href='{% url 'voluntary' %}'">Perfil de Voluntário</button>
              <button class="btn btn-secondary" onclick="window.location.href='{% url 'supporter' %}'">Perfil de Apoiador</button>
            </div>          
            </div>
            <!-- Informações do Usuário -->
            <div class="col-md-8">
              <div class="card-body p-8">
                <h2>Informações de <span id="username">{{ user.username }}</span></h2>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="midle-title">Email de Contato:</h6>
                    <p class="midle-title">{{ user.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="midle-title">Endereço:</h6>
                    <p class="midle-title">{{ user.address }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="card-body p-8">
                {% block profile_choice %}
                {% if is_voluntary and not is_supporter %}
                <!-- Ações de Voluntários -->
                <div class="container-perfil-actions">
                  <div id="actions-voluntary" class="actions">
                    <p>Estamos sem ação no momento</p>
                    <!-- Partial de voluntários -->
                    {% include 'partials/voluntary.html' %}
                  </div>
                </div>
                {% endif %}
                {% if is_supporter and not is_voluntary %}
                <!-- Ações de Apoiadores -->
                <div class="container-perfil-actions">
                  <div id="actions-supporter" class="actions">
                    <p>Estamos sem ação no momento</p>
                    <!-- Partial de apoiadores (doações) -->
                    {% include 'partials/supporter.html' %}
                  </div>
                </div>
                {% endif %}
                {% if is_voluntary and is_supporter %}
                <!-- Ações de Ambos -->
                <div class="container-perfil-actions">
                  <div id="actions-voluntary" class="actions">
                    <p>Estamos sem ação no momento</p>
                    <!-- Partial de voluntários -->
                    {% include 'partials/voluntary.html' %}
                  </div>
                  <div id="actions-supporter" class="actions">
                    <p>Estamos sem ação no momento</p>
                    <!-- Partial de apoiadores (doações) -->
                    {% include 'partials/supporter.html' %}
                  </div>
                </div>
                {% endif %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock 'body' %}
