<!-- area de ações no perfil de voluntários -->
{% extends "base/base_perfil.html" %}
{% load static %}

{% block 'title' %}Perfil de Voluntário{% endblock 'title' %}

{% comment %} {% block 'css' %}{% static 'perfil/css/voluntary.css' %}{% endblock 'css' %} {% endcomment %}
{% block 'css1' %}{% static 'perfil/css/index.css' %}{% endblock 'css1' %}

{% block scripts %}
  
  <script src="{% static 'perfil/js/voluntary.js' %}"></script>
{% endblock scripts %}

{% block 'body' %}
<!-- ações (projetos)-->
<div class= "category-vol-line">
<h6 class="category-title">Ações</h6>
<button id="btn_register_action" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegisterAction">
  Registrar Ação
</button>
</div>
<div class="card-group">
  <!--card test. amanha irei fazer a renderização das ações aqui-->
        <div class="card-actions">
          <img
            src="{% static 'geral/img/action-1.svg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              Construção de casas Biodegradaveis
            </h5>
            <p class="card-text">
              Ajude a nossa ong a reconstruir moradias para os povos indigenas 
            </p>
          </div>
        </div>
      </div>
     
      <hr class="mt-0 mb-4" />
      <div class="row pt-1">
        <!-- Seção de card aparecendo apenas no max 3 ações, depois disso aparecera um botão de próximo-->
      </div>
    </div>
    <div>
      <div class="category-vol-line">
        <h6 class="category-title">Meus voluntariados</h6>
       
    </div>
    
     
      <hr class="mt-0 mb-4" />
      <div class="row pt-1">
        <div class="my-v-text">
          <p class="text-center">
            Voce ainda não participou de nenhuma ação!
            Quer registrar seu ultimo volúntariado? Clique em registrar ação
           <!--irei fazer a logica amanha if else-->
          </p>
        </div>
      </div>
    </div>
    
    {% include 'partials/modal_become_supporter.html' %}

    {% endblock 'body' %}