*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --card-bg: gray;
    --link-btn: green;
    --user-category-title: green;
    --perfil-discription: white;
}

.nav-item{
    color: aliceblue;
}
body{
    background-color: black;
}
.footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
  }
